*{
    margin: 0;
    padding: 0;
}
.title
{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    font-size: 40px;
    width: 20%;
    margin: auto;
    font-family: 'Viaoda Libre', cursive;
}
.underline{
    width: 30%;
    border-top: 4px solid darkgoldenrod;
    margin-top: 4px;
}
.btn-container{
    width: 100%;
    /* border: 2px solid black; */
    margin: auto;
    text-align: center;
}
.filter-btn{
    width: 80px;
    height: 40px;
    margin-right: 1%;
    background: transparent;
    border: 2px solid #b8860b;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    transition: all 0.2s linear;
}
.filter-btn:hover{
    background-color: #b8860b;
    color: #fff;
}

.menu-container{
    width: 90%;
    margin: 2% auto;
    padding: 3%;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
}
.menu-card{
    /* border: 2px solid black; */
    display: flex;
}
.card-img img{
    border: 4px solid darkgoldenrod;
    border-radius: 10px;
    object-fit: cover;
}
.card-info{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 2px dotted darkgoldenrod;
    font-size: 20px;
    font-family: 'Viaoda Libre', cursive;
    font-weight: 900;
    text-transform: capitalize;
}
.item-price{
    color: darkgoldenrod;
}
.item-desc p{
    font-size: 17px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #617D98;
}