/* Set global styles */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

header a:hover {
  text-decoration: underline;
}

#players {
  margin: 50px auto;
  text-align: center;
}

#players label {
  font-size: 24px;
}

#players input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#players button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#players button:hover {
  background-color: #444;
}

#start {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#start:hover {
  background-color: #444;
}

#itsTurn {
  text-align: center;
  font-size: 28px;
  margin-top: 50px;
}

#tsk {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #444;
}

#ShowHis {
  display: block;
  margin: 50px auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#ShowHis:hover {
  background-color: #444;
}

#History {
  margin: 50px auto;
  text-align: center;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  display: none;
}

#History p {
  font-size: 24px;
  margin-bottom: 20px;
}

#tru{
  float: left;
  margin-left: 25%;
}

#dar {
  float: right;
  margin-right: 25%;
}
